<div class="profiles">
    <div class="search">
        <mat-form-field class="search__input">
            <mat-label>Search profile</mat-label>
            <input matInput placeholder="Enter name">
        </mat-form-field>
    </div>
    <mat-card class="profiles__card">
        <mat-card-header>
            <div mat-card-avatar class="profiles__card__header-image"></div>
            <mat-card-title>Shomita</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="profiles__card__image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </mat-card>
</div>