<div class="container">
        <form class="container__form">
            <mat-form-field class="container__form__input">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field class="container__form__input">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password">
            </mat-form-field>
    
            <button mat-raised-button color="primary">Login</button>
          </form>
</div>
    