<div *ngIf="error$ | async">
  <span class="notification_error">{{ (error$ | async)?.error?.error }}</span>
</div>
<div class="container">
  <form #userlogin="ngForm" class="container__form">
    <mat-form-field class="container__form__input">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="email" placeholder="Username" ngModel />
    </mat-form-field>

    <mat-form-field class="container__form__input">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        placeholder="Password"
        ngModel
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="onClickSubmit(userlogin.value)"
    >
      Login
    </button>
  </form>
</div>
