.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    max-width: 300px;
    box-sizing: border-box;

    &__image {
      height: 300px;
      width: 300px;
      border-radius: 50%;
    }
  }
}

::ng-deep .mat-card-header-text {
  margin: auto !important;
}

.mat-card-content {
  text-align: center;
}
